/* ---------------------------------------------------
   OWNER CARD
--------------------------------------------------- */
.owner-box{
    width: 230px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    /* Background utama */
    background: rgba(0,0,0,0.35);
    background-image: url('Background2.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px #ff80df;
    cursor: pointer;
    transition: .3s;
}
.owner-box:hover{ transform: scale(1.08); }

.pp-owner{
    width: 120px;
    border-radius: 20px;
    box-shadow: 0 0 15px #ff7adf;
}

.owner-name{
    margin-top: 12px;
    font-weight: 600;
    color: #fff;
}

/* ---------------------------------------------------
   ADMIN CARDS
--------------------------------------------------- */
.admin-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    margin-top: 40px;
}

.admin-card{
    width: 170px;
    padding: 15px;
    /* Background utama */
    background: rgba(0,0,0,0.35);
    background-image: url('Background2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    text-align: center;
    box-shadow: 0 0 15px #ff70d6;
    cursor: pointer;
    transition: .3s;
}

.admin-card:hover{
    transform: translateY(-5px);
}

.admin-card img{
    width: 90px;
    border-radius: 18px;
    box-shadow: 0 0 15px #ff79d3;
}

.admin-card p{
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
}
