body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #1d1b3a, #261447, #2e195a);
    color: white;
    overflow-x: hidden;
}

.container {
    text-align: center;
    padding: 40px 20px;
}

/* LOGO */
.logo {
    width: 120px;
    height: 120px;
    background: #ffba94;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 18px #ffceb0;
}

/* Nama Group */
.group-name {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.group-desc {
    opacity: 0.7;
    max-width: 260px;
    margin: 10px auto 20px;
}

/* Tombol TikTok */
.tiktok-btn {
    background: #d8a6ff;
    border: none;
    padding: 12px 24px;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 12px #d8a6ff;
}
.tiktok-btn:hover {
    transform: scale(1.07);
}

/* STAT BOX */
.stats {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    gap: 18px;
}

.stat-box {
    width: 140px;
    padding: 16px;
    border-radius: 18px;
    background: #58c56f;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 12px #5ff185;
}
.stat-box:hover {
    transform: translateY(-4px);
}

/* Struktur Jabatan */
.title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

/* NODE KOTAK */
.node {
    background: #ffb6d9;
    padding: 14px;
    width: 150px;
    border-radius: 22px;
    margin: 20px auto;
    box-shadow: 0 0 15px #ffa5d0;
}

.node .pfp {
    width: 90px;
    height: 90px;
    background: #fff4c9;
    margin: auto;
    border-radius: 18px;
}

/* Pemilik Group Node */
.owner {
    background: #ffd39a;
    box-shadow: 0 0 15px #ffdcac;
}

/* Struktur Garis */
.row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -10px;
}

.row.bottom {
    gap: 20px;
}

.line {
    width: 3px;
    height: 40px;
    background: #7aa7ff;
    margin: auto;
}

.horizontal {
    height: 3px;
    width: 300px;
    margin-top: -10px;
}

/* Canvas Partikel */
#flowerCanvas {
    position: fixed;
    inset: 0;
    pointer-events: none;
}
